.sections {
  width: 100%;
}
.main-container {
  padding: 30px 135px 88px 135px;
  background-color: #111111;
  margin-bottom: -15px;
}

.circle-container {
  position: relative;
  display: inline-block;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #333333;
}

.circle-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  letter-spacing: 0.18em;
  color: #ffffff;
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translateY(-50%);
  white-space: nowrap;
  margin-left: 10px;
}
